<div class="flex w-full items-center justify-center flex-col lg:flex-row">
  <div class="card bg-base-300 rounded-box grid h-auto flex-grow place-items-center">
    <div>
      <br>
        <h6 class="text-center">Shibattは、LINEから素早く</h6>
        <h6 class="text-center">メモを作成できるサービスです。</h6>
        <h6 class="text-center">メモは書きっぱなしにせず受動的に振り返ることで、</h6>
        <h6 class="text-center">自身の思考を整理し、行動に活かすことができます。</h6>
      <br>
    </div>
  </div>
  <div class="divider lg:divider-horizontal"></div>
  <div class="card bg-base-300 rounded-box grid h-auto flex-grow place-items-center">
    <div class="flex flex-col items-center justify-center">
      <br>
      <h3>まずはLINEお友達登録!!</h3>
      <h3>ShibattへLINEでメッセージを送信→メモを作成</h3>
      <img src="https://qr-official.line.me/sid/L/023jcczr.png" alt="LINE QRコード" width="80">
      <a href="https://line.me/R/ti/p/%40023jcczr" class="btn btn-outline btn-accent">
        Shibatt公式LINE 友達追加URL
      </a>
      <br>
    </div>
  </div>
</div>

<div style="display: flex; justify-content: center;">
  <a href="https://gyazo.com/f56c05afb2a1a0f6e346a1b76861af36">
    <img src="https://i.gyazo.com/f56c05afb2a1a0f6e346a1b76861af36.png" alt="Image from Gyazo" width="200"/></a>
</div>
  <br>

<% if @user %>
<div class="flex w-full items-center justify-center flex-col lg:flex-row">
  <div class="card bg-base-300 rounded-box grid h-auto flex-grow place-items-center">
    <h6>In Progress</h6>
    <div class="radial-progress" style="--value:<%= @progress_rate[:in_progress] %>;" role="progressbar">
      <%= @progress_rate[:in_progress] %>%
    </div>
  </div>
  <div class="divider lg:divider-horizontal flex items-center justify-center"></div>
  <div class="card bg-base-300 rounded-box grid h-auto flex-grow place-items-center">
    <div>
      <button class="btn text-teal-800 bg-white hover:bg-teal-200" onclick="my_modal_6.showModal()">どんなサービス？</button> 
      <dialog id="my_modal_6" class="modal modal-bottom sm:modal-middle font-handwriting">
        <div class="modal-box">
          <h3 class="font-handwriting text-lg">サービスについて</h3>
          <p class="py-4">
          <h3>仕事や生活を良くするアイデア、気づき、感情...書き留めた貴重なメモを活用できていますか？</h3>
          <br>
          <h1><strong><u>1. コアな機能</u><strong></h1>
          <h3>・思いつきを忘れず残すために、素早くメモを作成できます</h3>
          <h3>・メモにはステータスをつけられます</h3>
          <br>
          <h1><strong><u>2. イチオシ機能</u><strong></h1>
          <h3>・メモを書きっぱなしにしない、振り返り機能<h3>
          <h3>・書き留めたメモを選択し紐付けした振り返りメモを作成できます</h3>
          <br>
          <h1><strong><u>3. 作成者の想い</u><strong></h1>
          <h3>なんとなく、あの場所で、感情が揺れた時...</h3>
          <h3>ぽっと湧いてくる自身の言葉を大切にしたい。</h3>
          <h3>情報社会、興味や必要に迫られ1日のほとんどをインプットに使っています。</h3>
          <h3>蓄積された情報を、シュバッと気ままにアウトプットしたい</h3>
          <h3>そんな思いから、このサービスを作成しました。</h3>
          </p>
          <div class="modal-action">
            <form method="dialog">
              <button class="btn">Close</button>
            </form>
          </div>
        </div>
      </dialog>
      <button class="btn text-teal-800 bg-white hover:bg-teal-200" onclick="my_modal_7.showModal()">使い方</button> 
      <dialog id="my_modal_7" class="modal modal-bottom sm:modal-middle font-handwriting">
        <div class="modal-box">
          <h3 class="font-handwriting text-lg">使い方</h3>
          <p class="py-4">
          <h3>1. LINEでメッセージを送信/アプリでメモ作成ボタン</h3>
          <h3>2. メモを作成</h3>
          <h3>3. メモ一覧のチェックボックスで紐づけるメモを選択</h3>
          <h3>4. メモ一覧の振り返りメモ作成ボタンをクリック</h3>
          <h3>5. 振り返りメモを作成</h3>
          </p>
          <div class="modal-action">
            <form method="dialog">
              <button class="btn">Close</button>
            </form>
          </div>
        </div>
      </dialog>
    </div>
  </div>
  </div>
</div>

<div class="flex w-full items-center justify-center flex-col lg:flex-row">
  <div class="card bg-base-300 rounded-box grid h-auto flex-grow place-items-center">
    
  <div class="divider lg:divider-horizontal"></div>
  <div class="card bg-base-300 rounded-box grid h-auto flex-grow place-items-center">

  <dialog id="my_modal_5" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box">
      <h3 class="text-lg font-bold">メモ作成</h3>
      <%= form_with model: @memo, url: user_memos_path(@user), local: true do |f| %>
        <div class="form-group">
          <%= f.text_area :content, class: "form-control", placeholder: "メモ内容", rows: 5 %>
        </div>
        <div class="form-group">
          <%= f.text_field :memo_tags, value: (@memo_tags.map(&:name).join(',') || ""), class: "form-control", placeholder: "タグ" %>
        <div class="form-group">
          <%= f.submit "作成", class: "btn" %>
        </div>
      <% end %>
      <p class="py-4">メモ作成がモーダルでできる</p>
      <div class="modal-action">
        <form method="dialog">
          <!-- if there is a button in form, it will close the modal -->
          <button class="btn">Close</button>
        </form>
      </div>
    </div>
  </dialog>
  
  

  <div class="flex">
    <%= link_to "【memo】", user_memos_path(current_user) %>
    <%= link_to "【ref_memo】", reflection_memos_path %>
    <button class="btn bg-teal-800 text-white hover:bg-teal-900" onclick="my_modal_5.showModal()">【メモ作成】</button>
  </div>
<% end %>
