<h1>振り返りメモ編集</h1>

<%= form_with(model: @reflection_memo, local: true) do |f| %>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label :progress %>
    <%= f.hidden_field :progress, value: false %>
    <%= f.check_box :progress %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to '【Back】', reflection_memos_path %>
