<h3>振り返りメモ一覧</h3>

<%= search_form_for @q, url: reflection_memos_path, html: { class: "input input-bordered flex items-center gap-2" } do |f| %>
  <%= f.label :content_cont, 'Search by content', class: "sr-only" %>
  <%= f.search_field :content_cont, class: "grow", placeholder: "Search" %>
  <%= f.submit 'Search', class: "sr-only" %>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-4 w-4 opacity-70">
    <path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" />
  </svg>
<% end %>

<% @reflection_memos.each_with_index do |ref_memo, index|%>
  <details class="collapse bg-base-200" style="justify-content: flex-end; width: 50%; margin: auto;">
    <summary class="collapse-title text-xl font-medium">
    <div class="bg-base-200 collapse" style="background-color: #FFEFD5;">
      <div class="collapse-title bg-primary text-primary-content ">
        <div class="flex flex-row ">
          <p><%= ref_memo.created_at.strftime("%Y/%m/%d %H:%M") %> <br> <%= ref_memo.content %></p>
          <%= link_to '編集', edit_reflection_memo_path(ref_memo), class: 'btn btn-primary' %>
        </div>
        <!-- Open the modal using ID.showModal() method -->
        <button class="btn" onclick="my_modal_<%= index %>.showModal()">💌</button>
        <dialog id="my_modal_<%= index %>" class="modal modal-bottom sm:modal-middle">
          <div class="modal-box">
            <h3 class="text-lg font-bold">Hello!</h3>
            <p class="py-4">
              <nav class="navbar navbar-light bg-light">
                <span class="navbar-text">
                  <%= @chatgpt %>
                </span>
              </nav>
            </p>
            <div class="modal-action">
              <form method="dialog">
                <!-- if there is a button in form, it will close the modal -->
                <button class="btn">Close</button>
              </form>
            </div>
          </div>
        </dialog> 
      </div>
    </div>
      <div class="collapse-content bg-primary text-primary-content peer-checked:bg-secondary peer-checked:text-secondary-content">
        <p>Status: <%= ref_memo.progress ? "Completed" : "In progress" %></p>
      </div>
    </summary>
    <div class="collapse-content">
      <h6>《紐付けメモ》</h6>
      <% ref_memo.memos.each do |each_memo|%>
        <p><%= each_memo.content %></p>
      <% end %>
    </div>
  </details>
<% end %>

<%= paginate @reflection_memos %>