<div class="relative pb-24" style="background-color: #E9EFEC; min-height: 100vh;">
  <div class="z-10 text-left w-3/4 mx-auto">
    <br>
    <%= form_with model: @reflection_memo, url: reflection_memos_path do |form| %>  
      <%= link_to reflection_memos_path, class: "inline-flex items-center justify-center h-12 w-14 bg-white border-2 border-black hover:bg-gray-300 p-0 transition-colors duration-200 rounded" do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="#343131">
          <path d="M0 0h24v24H0V0z" fill="none"/>
          <path d="M10 9V5l-7 7 7 7v-4.1c5 0 8.5 1.6 11 5.1-1-5-4-10-11-11z"/>
        </svg>
      <% end %>
      <h3>先週の振り返りメモ作成</h3>
      <div class="form-group">
        <%= form.text_area :content, class: "form-control w-full border border-blue-900", placeholder: "内容", rows: 5 %>
      </div>
    
      <% if @inprogress_memos&.any? %>
        <% @inprogress_memos.each do |memo| %>
          <div>
            <%= form.check_box :memo_ids, { multiple: true, checked: true }, memo.id, nil %>
            <p>メモ内容: <%= memo.content %></p>
            <p>作成日時: <%= memo.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
          </div>
        <% end %>
      <% else %>
        <p>関連するメモがありません。</p>
      <% end %>
        
      <div class="form-group", style="text-align: right;">
        <%= form.submit "作成", class: "btn" %>
      </div>
    <% end %>
  </div>
</div>