<div class="flex justify-center">
  <div class="w-ful">
    <h1>振り返りメモ編集</h1>
    <%= link_to reflection_memos_path(@reflection_memo), class: "inline-flex items-center justify-center h-12 w-14 bg-transparent hover:bg-gray-300 p-0 transition-colors duration-200 rounded" do %>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="#e8eaed">
        <path d="M0 0h24v24H0V0z" fill="none"/>
        <path d="M10 9V5l-7 7 7 7v-4.1c5 0 8.5 1.6 11 5.1-1-5-4-10-11-11z"/>
      </svg>
    <% end %>
    <button class="btn" onclick="my_modal_5.showModal()">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#e8eaed">
        <path d="M0 0h24v24H0V0z" fill="none"/>
        <path d="M14.12 10.47L12 12.59l-2.13-2.12-1.41 1.41L10.59 14l-2.12 2.12 1.41 1.41L12 15.41l2.12 2.12 1.41-1.41L13.41 14l2.12-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4zM6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM8 9h8v10H8V9z"/>
      </svg>
    </button>
    <dialog id="my_modal_5" class="modal modal-bottom sm:modal-middle">
      <div class="modal-box">
        <h3 class="text-lg font-bold">削除確認</h3>
        <p class="py-4">本当に削除しますか？</p>
        <div class="modal-action">
          <%= form_with model: @reflection_memo, method: :delete do |f| %>
            <%= f.button "削除する", type: 'submit', class: "btn inline-flex items-center justify-center h-12 w-14 p-0 transition-colors duration-200 rounded" %>
          <% end %>
          <form method="dialog">
            <!-- if there is a button in form, it will close the modal -->
            <button class="btn">キャンセル</button>
          </form>
        </div>
      </div>
    </dialog>

    <%= form_with(model: @reflection_memo, local: true) do |f| %>
      <div class="form-group w-3/4">
        <%= f.label :content, class: "block text-sm font-medium text-gray-700" do %>
          <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 20 20" height="40px" viewBox="0 0 20 20" width="40px" fill="#e8eaed"><rect fill="none" height="20" width="20"/><path d="M3,5h9v1.5H3V5z M3,11.25h6v1.5H3V11.25z M3,8.12h9v1.5H3V8.12z M16.78,11.99l0.65-0.65c0.29-0.29,0.29-0.77,0-1.06 l-0.71-0.71c0.29-0.29-0.77-0.29-1.06,0l-0.65,0.65L16.78,11.99z M16.19,12.58L11.77,17H10v-1.77l4.42-4.42L16.19,12.58z"/></svg>
            <span class="ml-2">Edit Content</span>
          </div>
        <% end %>
        <%= f.text_area :content, class: "mt-1 block w-full rounded-md shadow-sm border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50", placeholder: "content" %>
      </div>
      <%= f.submit "更新", class: "btn inline-flex items-center justify-center h-12 w-14 p-0 transition-colors duration-200 rounded" do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="#e8eaed">
          <path d="M0 0h24v24H0V0z" fill="none"/>
          <path d="M17.65 6.35C16.2 4.9 14.21 4 12 4c-4.42 0-7.99 3.58-7.99 8s3.57 8 7.99 8c3.73 0 6.84-2.55 7.73-6h-2.08c-.82 2.33-3.04 4-5.65 4-3.31 0-6-2.69-6-6s2.69-6 6-6c1.66 0 3.14.69 4.22 1.78L13 11h7V4l-2.35 2.35z"/>
        </svg>
      <% end %>
    <% end %>
    <div style="display: flex; align-items: center;">
      <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 20 20" height="40px" viewBox="0 0 20 20" width="40px" fill="#e8eaed">
        <g><rect fill="none" height="20" width="20" x="0"/></g>
        <g><path d="M12.5,13.5v0.99l-5-2.71V9.24L9.83,6.5H13V2H8.5v3.75L6.16,8.5H3V13h3.6l5.9,3.2V18H17v-4.5H12.5z M10,3.5h1.5V5H10V3.5z M6,11.5H4.5V10H6V11.5z M15.5,16.5H14V15h1.5V16.5z"/></g>
      </svg>
      <p>振り返りメモ</p>
    </div>
    <%= hidden_field_tag 'reflection_memo_ids[]', nil %>
    <% if @ref_memo.reflection_memo_memos.exists? %>
      <% @ref_memo.reflection_memo_memos.each do |reflection_memo_memo| %>
        <% memo = reflection_memo_memo.memo %>
        <div class="flex items-center">
          <%= check_box_tag 'memo_ids[]', memo.id, true, id: "memo_#{memo.id}" %>
          <%= label_tag "memo_#{memo.id}", memo.content %>
        </div>
        <p>Created at: <%= memo.created_at %></p>
      <% end %>
    <% else %>
      <p>関連する振り返りメモがありません。</p>
    <% end %>
  </div>
</div>        