<div class="navbar bg-base-100">
  <div class="flex-1">
    
  </div>
  <div class="twitter">
    <%= link_to "https://x.com/intent/tweet?url=#{share_url}&text=#{share_text}%0a%0a", target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, title: "シェア", class: "btn btn-primary", style: "display: inline-flex; align-items: center; justify-content: center; width: 120px; white-space: nowrap; flex-wrap: nowrap;" do %>
      <span>共有</span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="margin-left: 10px; align-self: center;"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/></svg>
    <% end %>
  </div>

  
  <div class="flex-none">
    <div class="dropdown dropdown-bottom dropdown-end">
      <div tabindex="0" role="button" class="btn m-1">
        <div class="w-10 rounded-full">
          <% if current_user && current_user.profile_image_url.present? %>
            <%= image_tag current_user.profile_image_url, alt: 'User profile image', class: 'w-10 rounded-full' %>
          <% else %>
            <%= image_tag 'icon_shibatt.png', alt: 'Default profile image', class: 'w-10 rounded-full' %>
          <% end %>
          <span>Menu</span>
        </div>
      </div>
      <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
        <% if current_user %>
          <li><%= "【#{current_user.username}】"%></li>
          <li><%= button_to 'profile再取得', refresh_username_user_path(current_user), method: :post %></li>
          <li><%= link_to 'Logout', logout_path, data: { turbo_method: :delete } %></li>
          <li>
            <a href="https://line.me/R/ti/p/%40023jcczr">
              Shibatt公式LINE
            </a>
          </li>
          <li>--------------------------</li>
          <li>【メニュー】</li>
          <li><%= link_to "memo", user_memos_path(current_user), class: "bg-white text-green-800 px-4 py-2 rounded" %></li>
          <li><%= link_to "ref_memo", reflection_memos_path, class: "bg-white text-green-800 px-4 py-2 rounded" %></li>
          <li><%= link_to 'Top', root_path, class: "bg-white text-green-800 px-4 py-2 rounded" %></li>
        <% else %>
          <li>ゲスト</li>
          <li><%= link_to 'Login', login_path %></li>
          <li><%= link_to "Sign_up", sign_up_path %></li>
        <% end %>
        <h>--------------------------</h>
        <h>【開発者Profile】</h>
        <li>
          <a href="https://school.runteq.jp/social_portfolios/yuuka_shiba8">
            RUNTEQ SPF
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>