<div class="mt-20">
  <div class="navbar bg-base-100 fixed top-0 w-full">
    <div class="navbar flex justify-between">
      <div class="carousel-item justify-left", style="width: 120px; height: 50px;" />
        <img
          src="https://i.gyazo.com/6e8d3737ce0708ff42174d1808f79df7.png"
          <div class="carousel-item", style="width: 90px; height: 50px;" />
      </div>
      <div class="dropdown dropdown-bottom dropdown-end">
        <div tabindex="0" role="button" class="btn m-1 mr-0">
          <div class="w-10 rounded-full">
            <% if current_user && current_user.profile_image_url.present? %>
              <%= image_tag current_user.profile_image_url, alt: 'User profile image', class: 'w-10 rounded-full' %>
            <% else %>
              <%= image_tag 'icon_shibatt.png', alt: 'Default profile image', class: 'w-10 rounded-full' %>
            <% end %>
            <div class="navbar-start flex justify-center">
              <div class="bg-white text-black">
                <span>Menu</span>
              </div>
            </div>
          </div>
        </div>
        <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
          <% if current_user %>
            <li><%= "【#{current_user.username}】"%></li>
            <li><%= button_to 'profile再取得', refresh_username_user_path(current_user), method: :post %></li>
            <li><%= link_to 'ログアウト', logout_path, data: { turbo_method: :delete } %></li>
            <li>
              <a href="https://line.me/R/ti/p/%40023jcczr">
                Shibatt公式LINE
              </a>
            </li>
            <li>--------------------------</li>
            <li>【メニュー】</li>
            <li><%= link_to "メモ一覧", user_memos_path(current_user), class: "bg-white text-green-800 px-4 py-2 rounded" %></li>
            <li><%= link_to "振り返りメモ一覧", reflection_memos_path, class: "bg-white text-green-800 px-4 py-2 rounded" %></li>
            <li><%= link_to 'トップ', root_path, class: "bg-white text-green-800 px-4 py-2 rounded" %></li>
          <% else %>
            <li>ゲスト</li>
            <li><%= link_to 'ログイン', login_path %></li>
            <li><%= link_to "新規登録", sign_up_path %></li>
          <% end %>
          <h>--------------------------</h>
          <h>【開発者Profile】</h>
          <li>
            <a href="https://school.runteq.jp/social_portfolios/yuuka_shiba8">
              RUNTEQ SPF
            </a>
          </li>
          <li>
            <a href="https://twitter.com/intent/tweet?text=[Shibatt]%0a%0a%23RUNTEQ祭%20%23Shibatt%0a%0a&url=https://www.memo-shibatt.com" target="_blank" class="text-black flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 50 50">
                <path d="M 11 4 C 7.134 4 4 7.134 4 11 L 4 39 C 4 42.866 7.134 46 11 46 L 39 46 C 42.866 46 46 42.866 46 39 L 46 11 C 46 7.134 42.866 4 39 4 L 11 4 z M 13.085938 13 L 21.023438 13 L 26.660156 21.009766 L 33.5 13 L 36 13 L 27.789062 22.613281 L 37.914062 37 L 29.978516 37 L 23.4375 27.707031 L 15.5 37 L 13 37 L 22.308594 26.103516 L 13.085938 13 z M 16.914062 15 L 31.021484 35 L 34.085938 35 L 19.978516 15 L 16.914062 15 z"></path>
              </svg>
              <span>で共有</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>