<div class="navbar bg-base-100">
  <div class="flex-1">
    
  </div>
  <div class="flex-none">
    <div class="dropdown dropdown-end">
      <div class="w-10 rounded-full">
        <% if current_user && current_user.profile_image_url.present? %>
          <%= image_tag current_user.profile_image_url, alt: 'User profile image', class: 'w-10 rounded-full' %>
        <% else %>
          <%= image_tag 'icon_shibatt.png', alt: 'Default profile image', class: 'w-10 rounded-full' %>
        <% end %>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
        <li>
          <a class="justify-between">
            Profile
            <span class="badge">New</span>
          </a>
        </li>
        <li>
          <a class="btn btn-ghost text-xl"></a>
          <% if current_user %>
            <%= link_to "【#{current_user.username}】", root_path %>
            <%= link_to '【Logout】', logout_path, data: { turbo_method: :delete } %>
            <%= button_to 'ユーザー名再取得', refresh_username_user_path(current_user), method: :post %>
          <% else %>
            ゲスト
            <%= link_to '【Login】', login_path %>
            <%= link_to "【Sign_up】", sign_up_path %>
          <% end %>
        </li>
        <li><a>Settings</a></li>
        <li><a>Logout</a></li>
      </ul>
    </div>
  </div>
</div>