<div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl"></a>
    <% if current_user %>
      <%= link_to "【#{current_user.username}】", root_path %>
      <%= link_to '【Logout】', logout_path, data: { turbo_method: :delete } %>
      <%= button_to 'ユーザー名再取得', refresh_username_user_path(current_user), method: :post %>
    <% else %>
      ゲスト
      <%= link_to '【Login】', login_path %>
      <%= link_to "【Sign_up】", sign_up_path %>
    <% end %>
  </div>
  <div class="flex-none">
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <div class="indicator">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
          </svg>
          <span class="badge badge-sm indicator-item">8</span>
        </div>
      </div>
      <div
        tabindex="0"
        class="card card-compact dropdown-content bg-base-100 z-[1] mt-3 w-52 shadow">
        <div class="card-body">
          <span class="text-lg font-bold">8 Items</span>
          <span class="text-info">Subtotal: $999</span>
          <div class="card-actions">
            <button class="btn btn-primary btn-block">View cart</button>
          </div>
        </div>
      </div>
    </div>
    <div class="dropdown dropdown-end">
      <div class="w-10 rounded-full">
        <% if current_user && current_user.profile_image_url.present? %>
          <%= image_tag current_user.profile_image_url, alt: 'User profile image', class: 'w-10 rounded-full' %>
        <% else %>
          <%= image_tag 'icon_shibatt.png', alt: 'Default profile image', class: 'w-10 rounded-full' %>
        <% end %>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
        <li>
          <a class="justify-between">
            Profile
            <span class="badge">New</span>
          </a>
        </li>
        <li><a>Settings</a></li>
        <li><a>Logout</a></li>
      </ul>
    </div>
  </div>
</div>