<h1>ログイン</h1>

<%= form_with(url: login_path, local: true) do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <%= f.submit "ログイン" %>
<% end %>
<%= link_to 'Login with Line', oauths_oauth_path(:provider => :line) %>