<h3>メモ一覧</h3>
<%= search_form_for @q, url: user_memos_path do |f| %>
  <%= f.label :content_cont, 'Search by content' %>
  <%= f.search_field :content_cont %>
  <%= f.submit 'Search' %>
<% end %>

<% @memos.each do |memo| %>
  <div class="memo">
    <p><%= memo.content %></p>
    <p><%= memo.created_at.strftime('%Y/%m/%d %H:%M') %></p>
    <p>Status: <%= memo.progress ? 'Completed' : 'In progress' %></p>
  </div>
<% end %>

<%= paginate @memos %>
