<h3>メモ一覧</h3>
<div class="join">
  <%= search_form_for @q, url: user_memos_path(user_id: @user.id), html: { class: "input input-bordered flex items-center gap-2" } do |f| %>
    <%= f.label :content_cont, 'Search by content', class: "sr-only" %>
    <%= f.search_field :content_cont, class: "grow", placeholder: "Search" %>
    <%= f.select :tags_name_eq, options_for_select(['from_LINE', 'Life', 'Work'], selected: @q.tags_name_eq), { include_blank: 'All' }, class: "select select-bordered join-item" %>
    <%= f.submit class: "btn-search" do %>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-4 w-4 opacity-70">
        <path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75 .75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" />
      </svg>
    <% end %>
  <% end %>
</div>

<br>
<% @memo_tags.each do |tag| %>
  <%= link_to tag_search_path(tag: tag.name), class: "btn btn-info gap-1 inline-flex items-center px-1 py-0 leading-none" do %>
    <svg xmlns="http://www.w3.org/2000/svg" height="15px" viewBox="0 0 24 24" width="15px" fill="#e8eaed">
      <path d="M0 0h24v24H0V0z" fill="none"/>
      <path d="m21.41 11.58-9-9C12.05 2.22 11.55 2 11 2H4c-1.1 0-2 .9-2 2v7c0 .55.22 1.05.59 1.42l9 9c.36.36.86.58 1.41.58s1.05-.22 1.41-.59l7-7c.37-.36.59-.86.59-1.41s-.23-1.06-.59-1.42zM13 20.01 4 11V4h7v-.01l9 9-7 7.02z"/>
      <circle cx="6.5" cy="6.5" r="1.5"/>
    </svg>
    <%= tag.name %>
  <% end %>
<% end %>

<%= form_with url: new_reflection_memo_path, method: :get, id: 'reflection_form' do %>
  <div class="overflow-x-auto">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          <th>
            <label>
              <input type="checkbox" class="checkbox" />
            </label>
          </th>
          <th class="sm:hidden">Content/Tag,Date</th> <!-- スマホサイズの時に表示 -->
          <th class="hidden sm:table-cell">Content</th> <!-- スマホサイズ以上の時に表示 -->
          <th class="hidden sm:table-cell">Tag</th> <!-- スマホサイズ以上の時に表示 -->
          <th class="hidden sm:table-cell">Date</th> <!-- スマホサイズ以上の時に表示 -->
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        <% @memos.each do |memo| %>
          <tr>
            <th class="table-cell">
              <%= link_to 'details', user_memo_path(@user, memo), class: 'btn btn-primary' %>
            </th>
            <td class="table-cell sm:w-2/3 sm:table-cell">
              <div class="content overflow-auto">
                <div class="mask w-full h-auto">
                  <%= memo.content %>
                </div>
              </div>
              <div class="flex mt-2 sm:hidden text-xs">
                <div class="tag w-1/2 text-left">
                  <%= memo.tag_index %>
                </div>
                <div class="date w-1/2 text-right">
                  <%= memo.created_at.strftime('%Y/%m/%d %H:%M') %>
                </div>
              </div>
            </td>
            <td class="hidden sm:table-cell">
              <%= memo.tag_index %>
            </td>
            <td class="hidden sm:table-cell">
              <%= memo.created_at.strftime('%Y/%m/%d %H:%M') %>
            </td>
            <th class="table-cell flex justify-end">
              <%= check_box_tag 'memo_ids[]', memo.id, false, id: "memo_#{memo.id}" %>
            </th>
          </tr>
        <% end %>
        
      </tbody>
    </table>
  </div>
  <div style="text-align: right;">
    <%= submit_tag '振り返りメモを作成する', class: "btn btn-info p-2", id: "submit-button" %>
  </div>
<% end %>
