<h3>メモ一覧</h3>
<% @memo_tags.each do |tag| %>
  <%= link_to tag.name, tag_search_path(tag: tag.name) %>
<% end %>
<%= search_form_for @q, url: user_memos_path(user_id: @user.id), html: { class: "input input-bordered flex items-center gap-2" } do |f| %>
  <%= f.label :content_cont, 'Search by content', class: "sr-only" %>
  <%= f.search_field :content_cont, class: "grow", placeholder: "Search" %>
  <%= f.submit 'Search', class: "sr-only" %>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-4 w-4 opacity-70">
    <path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" />
  </svg>
<% end %>

<%= form_with url: new_reflection_memo_path, method: :get, id: 'reflection_form' do %>
  <% @memos.each do |memo| %>
    <div class="card bg-orange-200 text-black w-96 m-2">
      <div class="card-body">
        <h2 class="card-title"><%= memo.created_at.strftime('%Y/%m/%d %H:%M') %></h2>
        <p>Status: <%= memo.progress ? 'Completed' : 'In progress' %></p>
        <p>Tags: 
          <% memo.tag_names.split(', ').each do |tag_name| %>
            <span class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 m-1 rounded inline-block">
              <%= tag_name %>
            </span>
          <% end %>
        </p>
        <div class="flex items-center">
          <%= check_box_tag 'memo_ids[]', memo.id, false, id: "memo_#{memo.id}" %>
          <%= label_tag "memo_#{memo.id}", memo.content %>
        </div>
        <div class="card-actions justify-end">
          <%= link_to '編集', user_memo_path(@user, memo), class: 'btn btn-primary' %>
          <% unless memo.progress %>
            <%= link_to '削除', user_memo_path(@user, memo), method: :delete, data: { turbo_method: :delete, confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <%= submit_tag '振り返りメモを作成する', class: "btn btn-info p-2", id: "submit-button" %>
<% end %>

<%= paginate @memos %>
