<h3>メモ一覧</h3>
<% @memo_tags.each do |tag| %>
  <%= link_to tag.name, tag_search_path(tag: tag.name) %>
<% end %>
<%= search_form_for @q, url: user_memos_path(user_id: @user.id) do |f| %>
  <%= f.label :content_cont, 'Search by content' %>
  <%= f.search_field :content_cont %>
  <%= f.submit 'Search' %>
  <h6>************************************</h6>
<% end %>

<%= form_with url: new_reflection_memo_path, method: :get, id: 'reflection_form' do %>
  <% @memos.each do |memo| %>
    <div class="memo">
      <p><%= memo.created_at.strftime('%Y/%m/%d %H:%M') %></p>
      <p>Status: <%= memo.progress ? 'Completed' : 'In progress' %></p>
      <p>Tags: 
        <% memo.tag_names.split(', ').each do |tag_name| %>
          <span class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            <%= tag_name %>
          </span>
        <% end %>
      </p>
      <%= check_box_tag 'memo_ids[]', memo.id, false, id: "memo_#{memo.id}" %>
      <%= label_tag "memo_#{memo.id}", memo.content %>
      <%= link_to '編集', edit_user_memo_path(@user, memo), class: 'btn btn-primary' %>
      <%#= link_to '削除', user_memo_path(@user, memo), method: :delete, class: 'btn btn-danger' %>
      <h6>---------------------------------</h6>
    </div>
  <% end %>

  <%= submit_tag '振り返りメモを作成する', class: "btn btn-info p-2", id: "submit-button" %>
<% end %>

<%= paginate @memos %>
