<div class="flex justify-center" style="background-image: url('https://i.gyazo.com/b500bde6c02825235b9409b4ecebf0b7.jpg'); background-size: cover;">
  <div class="flex justify-center">
    <div class="w-ful">
      <h1>メモ編集</h1>
      <%= link_to user_memos_path(@user), class: "inline-flex items-center justify-center h-12 w-14 bg-white border-2 border-black hover:bg-gray-300 p-0 transition-colors duration-200 rounded" do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="#343131">
          <path d="M0 0h24v24H0V0z" fill="none"/>
          <path d="M10 9V5l-7 7 7 7v-4.1c5 0 8.5 1.6 11 5.1-1-5-4-10-11-11z"/>
        </svg>
      <% end %>
      
      <button class="btn bg-white border-2 border-black" onclick="my_modal_5.showModal()">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#343131">
          <path d="M0 0h24v24H0V0z" fill="none"/>
          <path d="M14.12 10.47L12 12.59l-2.13-2.12-1.41 1.41L10.59 14l-2.12 2.12 1.41 1.41L12 15.41l2.12 2.12 1.41-1.41L13.41 14l2.12-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4zM6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM8 9h8v10H8V9z"/>
        </svg>
      </button>
      <dialog id="my_modal_5" class="modal modal-bottom sm:modal-middle">
        <div class="modal-box">
          <h3 class="text-lg font-bold">削除確認</h3>
          <p class="py-4">本当に削除しますか？</p>
          <div class="modal-action">
            <%= form_with(model: @memo, url: user_memo_path(@user, @memo), local: true) do |f| %>
              <button type="submit" class="btn">削除する</button>
            <% end %>
            <form method="dialog">
              <button class="btn">キャンセル</button>
            </form>
          </div>
        </div>
      </dialog>
      <%= form_with(model: @memo, url: user_memo_path(@user, @memo), local: true) do |f| %>
        <div class="form-group ">
          <%= f.label :content, class: "block text-sm font-medium text-gray-700" do %>
            <div class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 20 20" height="40px" viewBox="0 0 20 20" width="40px" fill="#FABC3F"><rect fill="none" height="20" width="20"/><path d="M3,5h9v1.5H3V5z M3,11.25h6v1.5H3V11.25z M3,8.12h9v1.5H3V8.12z M16.78,11.99l0.65-0.65c0.29-0.29,0.29-0.77,0-1.06 l-0.71-0.71c-0.29-0.29-0.77-0.29-1.06,0l-0.65,0.65L16.78,11.99z M16.19,12.58L11.77,17H10v-1.77l4.42-4.42L16.19,12.58z"/></svg>
              <span class="ml-2">Edit Content</span>
            </div>
          <% end %>
          <%= f.text_area :content, class: "mt-1 block w-full rounded-md shadow-sm border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50", placeholder: "content" %>
        </div>
        <div class="field" style="display: flex; align-items: center;">
          <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="40px" viewBox="0 0 24 24" width="40px" fill="#FABC3F"><rect fill="none" height="24" width="24"/><path d="M22,5.18L10.59,16.6l-4.24-4.24l1.41-1.41l2.83,2.83l10-10L22,5.18z M19.79,10.22C19.92,10.79,20,11.39,20,12 c0,4.42-3.58,8-8,8s-8-3.58-8-8c0-4.42,3.58-8,8-8c1.58,0,3.04,0.46,4.28,1.25l1.44-1.44C16.1,2.67,14.13,2,12,2C6.48,2,2,6.48,2,12 c0,5.52,4.48,10,10,10s10-4.48,10-10c0-1.19-0.22-2.33-0.6-3.39L19.79,10.22z"/></svg>
          <%= f.label :progress %>
          <%= f.hidden_field :progress, value: false %>
          <%= f.check_box :progress, {checked: @memo.progress, class: "toggle toggle-warning"} %>
        </div>
        <div class="update-button flex justify-end">
          <%= f.submit "更新", class: "btn text-black bg-yellow-200 border-2 border-black" %>
        </div>
      <% end %>
      <div class="divider"></div>
      <div style="display: flex; align-items: center;">
        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 20 20" height="40px" viewBox="0 0 20 20" width="40px" fill="#343131">
          <g><rect fill="none" height="20" width="20" x="0"/></g>
          <g><path d="M12.5,13.5v0.99l-5-2.71V9.24L9.83,6.5H13V2H8.5v3.75L6.16,8.5H3V13h3.6l5.9,3.2V18H17v-4.5H12.5z M10,3.5h1.5V5H10V3.5z M6,11.5H4.5V10H6V11.5z M15.5,16.5H14V15h1.5V16.5z"/></g>
        </svg>
        <p>紐付けメモ</p>
      </div>
          
      <% if @memo.reflection_memo_memos.exists? %>
        <% @memo.reflection_memo_memos.each do |reflection_memo_memo| %>
          <% reflection_memo = reflection_memo_memo.reflection_memo %>
            <div class="flex items-center">
              <%= label_tag "reflection_memo_#{reflection_memo.id}", reflection_memo.content %>
            </div>
          <p>Created at: <%= reflection_memo.created_at %></p>
        <% end %>
      <% else %>
        <p>関連する振り返りメモがありません。</p>
      <% end %>
    </div>
  </div>
</div> 